.top_line{
    transform: rotate(0) translate(0, 0);
    transition: 0.5s;
}

.center_line {
    transform: scaleX(1);
    transition: 0.5s;
}

.bottom_line {
    transform: rotate(0) translate(0, 0);
    transition: 0.5s;
}

.top_line_active {
    transform: rotate(-45deg) translate(-12px, 10px);
    transition-delay: 0.2s;
    transition: 0.5s;
}

.center_line_active {
    transform: scaleX(0);
    transition: 0.5s;
}

.bottom_line_active {
    transform: rotate(45deg) translate(-9px, -9px);
    transition-delay: 0.2s;
    transition: 0.5s;
}