.col {
    flex-direction: column;
}

@media only screen {
    .row {
        flex-direction: row;
    }
}

.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}

.right {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: flex-end;
}